/********************************************************/
/*                   BASIC STYLES                       */
/********************************************************/


.wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
}