/********************************************************/
/*                   BASIC STYLES                       */
/********************************************************/
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.wrapper {
    width: 80%;
    height: auto;
    margin: 1em auto;
}

a {
    color: #212529;
    text-decoration: none;
}

/************* NAVBAR ***************/

.navbar-brand {
    padding-right: 1em;
}

.navbar-nav {
    justify-content: space-around;
}

/********************************************************/
/*                  INDEX PAGE                          */
/********************************************************/

.sample-row {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
}

.sample-item {
    width: 300px;    
}

.sample-img {
    height: 200px;
    padding-bottom: 0.5em;
    border-radius: 50%;
}

